body {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: #eee;
}
h1{
    margin: 50px auto;
    text-align: center;
}
.chess-board {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 4px solid black;
    margin: 50px auto;
}
.square {
    background-color: white;
}
.black {
    background-color: black;
}
